In [1]:
from dataclasses import dataclass, asdict
import requests
import time
import duckdb
import pandas as pd
import numpy as np
from configparser import ConfigParser
from sqlalchemy import create_engine
import glob
import os

%load_ext sql
%config SqlMagic.displaylimit = 10
%config SqlMagic.autopandas = True

In [2]:
config = ConfigParser()
config.read("../../.config")

['../../.config']

In [4]:
api_key = config["GoogleMaps"]["API_KEY"]
base_url = config["GoogleMaps"]["base_url"]
base_url_new = config["GoogleMaps"]["base_url_new"]
radius = 50000  # in meters
place_type = "shopping"  # Example place type
address = "Luxembourg City, Luxembourg"
myuser = config["MYSQL"]["username"]  
mypassword= config["MYSQL"]["password"]

In [ ]:
# Connect to DuckDB
# con = duckdb.connect('places.db')
# df = con.execute('SELECT * FROM places').fetchdf()

#### MySQL DB

In [40]:
connection_url = f'mysql://{myuser}:{mypassword}@localhost/staging'
engine = create_engine(connection_url)

%sql engine --alias mysql

In [41]:
%%sql mysql

show tables;

Switching to connection 'mysql'

5 rows affected.

       Tables_in_staging
0  uw_analytics_engineer
1         uw_bi_engineer
2        uw_data_analyst
3       uw_data_engineer
4         uw_ml_engineer

In [31]:
directory = "../../data/raw"
file_names = "Machine Learning.xlsx"

matching_files = glob.glob(os.path.join(directory, f"*{file_names}*"))

for file_name in matching_files:
    print(file_name)
    df  = pd.read_excel(f"{directory}/{file_name}")
    df.to_sql("uw_ml_engineer", engine, if_exists="append", index=False, method="multi")

../../data/raw/Upwork - Machine Learning.xlsx

In [13]:
def get_column_char_lengths(df):
    lengths = {}
    for column in df.columns:
        # Convert all values to strings
        col_as_strings = df[column].astype(str)
        # Get the maximum length
        max_length = col_as_strings.str.len().max()
        lengths[column] = max_length
    return lengths

In [ ]:
column_lengths = get_column_char_lengths(df)

print("Maximum character length for each column:")
for column, length in column_lengths.items():
    print(f"{column}: {length}")

In [42]:
%%sql mysql

select max(id) from staging.uw_data_analyst
union
select max(id) from staging.uw_data_engineer
union
select max(id) from staging.uw_ml_engineer
union
select max(id) from staging.uw_analytics_engineer
union
select max(id) from staging.uw_bi_engineer;

5 rows affected.

   max(id)
0     1792
1     1141
2     5973
3      570
4     1090

#### DuckDB

In [35]:
conn = duckdb.connect("../../data/raw/database.db")
%sql conn --alias duckdb

In [43]:
%%sql duckdb
select column_name from  information_schema.columns
where table_name = 'places';

Switching to connection 'duckdb'

  column_name
0    place_id
1        name
2    vicinity
3    latitude
4   longitude

In [37]:
%%sql
select count(1) from geonames

Running query in 'duckdb'

   count(1)
0      1259

In [39]:
%%sql duckdb

show tables;

Empty DataFrame
Columns: [name]
Index: []

In [ ]:
%%sql
select * from place_details

In [ ]:
# conn.close()

#### Google Maps API

In [44]:
%%sql

LAT_LONG << select latitude, longitude from geonames;

Running query in 'duckdb'

In [45]:
def format_coordinates(latitude: float, longitude: float) -> str:
    return f"{latitude},{longitude}"

In [46]:
location = format_coordinates(LAT_LONG.iloc[6,0], LAT_LONG.iloc[6,1])

##### API v1

In [47]:
url = f"{base_url}/place/nearbysearch/json?location={location}&radius={radius}&key={api_key}"

In [50]:
response = requests.get(url)
places = response.json()

In [51]:
places['results'][0]

{'geometry': {'location': {'lat': 49.61162100000001, 'lng': 6.1319346},
  'viewport': {'northeast': {'lat': 49.6549299282108,
    'lng': 6.202720059650757},
   'southwest': {'lat': 49.56028002711416, 'lng': 6.069020017641492}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png',
 'icon_background_color': '#7B9EB0',
 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
 'name': 'Luxembourg',
 'photos': [{'height': 554,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100990507489305992926">Venula Tharusha</a>'],
   'photo_reference': 'AelY_CvwarwyXzpNUFYKbGr_DWSadU9GlSoihdyylNhHgCqFs3eN-PzeMjnFUPhqNczHHSqQvbRD659NP2UDzSgcRxiyss0AFfvWdewhSoaPNH82ksqK1iVoa_oqI-gjlPOVz2U8nmpfxV2S3JHbT-_IzATV5bzKWwMIOZS720Rt8tNTXKaW',
   'width': 800}],
 'place_id': 'ChIJVyzznc1IlUcREG0F0dbRAAQ',
 'reference': 'ChIJVyzznc1IlUcREG0F0dbRAAQ',
 'scope': 'GOOGLE',
 'types': ['locality', 'political'],
 'vicinity': 'Luxembourg'}

In [52]:
place_id = 'ChIJVyzznc1IlUcREG0F0dbRAAQ'
details_url = f"{base_url}/place/details/json?place_id={place_id}&key={api_key}"
details_response = requests.get(details_url)

In [54]:
details_response.json()['result']

{'address_components': [{'long_name': 'Luxembourg',
   'short_name': 'Luxembourg',
   'types': ['locality', 'political']},
  {'long_name': 'Luxembourg',
   'short_name': 'Luxembourg',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'Luxembourg',
   'short_name': 'LU',
   'types': ['country', 'political']}],
 'adr_address': '<span class="locality">Luxembourg</span>',
 'formatted_address': 'Luxembourg',
 'geometry': {'location': {'lat': 49.61162100000001, 'lng': 6.1319346},
  'viewport': {'northeast': {'lat': 49.6549299282108,
    'lng': 6.202720059650757},
   'southwest': {'lat': 49.56028002711416, 'lng': 6.069020017641492}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png',
 'icon_background_color': '#7B9EB0',
 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
 'name': 'Luxembourg',
 'photos': [{'height': 554,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100990507489305992926">Venula Tharusha</a>'],
   'photo_reference': 'AelY_Ct1C8X8657pKPbv58HCQl0z5dsd0ayAV41rOhmnJk8XNtZXEQGzUgEUFKBiL_7gUbHXBrTr6VWEJLvz7ps5BKj-ebIv7_caMjE_Yxh7B6BKHVVo6O5L4FDVRqB-CeVLmrwXSvrCd2P5jY0MLm0w5eHK43WF7LC5SdWAZUxWk5RYXlKS',
   'width': 800},
  {'height': 4000,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105873306334630884040">Heyar Norbert</a>'],
   'photo_reference': 'AelY_Cvodkgj2yHneaFRW-2Nj50ceRk5D9KS4oomcfeJjOl320pL3Juo-PSROmEv4lFC8Y-_2aKUcqO8gvQ-qPukuWD-cjyY-i-Rek0uwxcSuMVR_VJd7tEiAPaEl6N7b7fsOXA950mTFHhXDniweuAJstloTcf0IOffJa8FNrVv64vp0P0x',
   'width': 1800},
  {'height': 3024,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100798504161350418176">Joao M.</a>'],
   'photo_reference': 'AelY_CsKYg4i-BSQFCrzCcfo2ch8UH2_wDFEtS6cD5duJqdtGw1b5P7-hW_qcsiRULdBDNbnWD2E2W5RxtEMH2z3zTkog8OFJl-v9WlURgCmMcGy_CfyAmm5lXAOQZXPt31ZOo2Znm7IiDMueRyr_8BhLzxI71UyjNdlyxFMLJ5wi5JhEmS4',
   'width': 4032},
  {'height': 3555,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111676293768702922357">Thomas</a>'],
   'photo_reference': 'AelY_CvcOgxYiShVJOt6rJhT8sMFo4uSVLG55B1yzMjaQaB0rJdxb1VpHaxg9uokSv8QzmxhRPdRdCQgtEQiTRffnhdcSSFl-C1-hb_GQLUeHp22QG0SoqQYAz_NXcDH57oSQ0qd7FIP3mUI6wid5BXS3D63BNivBt_dKPrbBJdAn2dpuWef',
   'width': 5339},
  {'height': 2592,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115394239042867857872">Museumsfreak und Hobbyfotograf</a>'],
   'photo_reference': 'AelY_Cvwn9-yr8GRtnl-cv3I1VHua8CVoC3qryE7aN2XQpu7EGgRbWheKdtS4eu40FUimXn2rK0WA3S7v14_AnHmvaURSFKEpMU2bOX_TOGyUQsXVfk099xXv3i1zroW7AuSzZzsumOXRi7tCVnR4yfTzQnAHZsBNk7ywS8q4rhStJNb-fC7',
   'width': 3888},
  {'height': 4032,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108538042691226984618">HUGO COSTA SANTOS</a>'],
   'photo_reference': 'AelY_CvTgAHdkrBNs9hsSrLaRVCIHp5RhpaENZos_P7RRato7h5S1y9PtWh5gsVKg4PKXlpJwZXa0z_MWXtPHkNA4tSPz0pkavKuSTLD6C7-7HqXGX58yj-5vJZsW-7CRbJ6QoCayee5YnUp6bv2Tgnp2H1_YFeZMOVfAsbgGKRC7g4VY3zO',
   'width': 3024},
  {'height': 2448,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113765701804142492051">Iosif Meta</a>'],
   'photo_reference': 'AelY_Ctw8vefDff2wTxlRiPyzc2bVs_xPRBYAAAGTHMWfyAEhON9Uh6fUEikmz7_mLIJXxrrpG6qSKrRMKzvdyp5aVYliGnthjJEJ0ZAlqLzlujA-wzSIZ1ltNCABGIIDGDQgp-1gy5o9eEC1NBlZwAxQNP2WTJSp5WPmwsV-aPtUkUe2LYs',
   'width': 3264},
  {'height': 2268,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105250072564128572639">D. Nappusch</a>'],
   'photo_reference': 'AelY_CvBPU5K4Pomv8bUN0EawVk3gVzqnXYOE2N36fknRo2Oc4P7vVaDTEhOWTZ6A1_2gq3jvUmMMDXOQ5i4Vs7r_dLzrV3-bgQJjupuRZdcCP2QSOo1R-Ttg1Gl4ryqTG0kyr-gSXeaf1KABAzdhDbG-Ab-jFW-KFTFunSD9gYKXhT86WKE',
   'width': 4032},
  {'height': 2161,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106895426727013603232">Maria Santos</a>'],
   'photo_reference': 'AelY_Csxz85EIWA912x9O32O7ve1OltnmN3-0F0Zp4wo5XTA9anky--UO8OF1aHL4WMM-U5-v1sRu4Zl8qQxDZtrgN-jcxH4F0wNAAe2g9vforufZ-DUgPjn74cLqSKbqBjdP3hoouUzPQfArpktekd6iCpFqN7SK-kERK5IH3ecGQhYdDqV',
   'width': 2160},
  {'height': 1200,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112768421893838716196">Kamenka Sadibasic</a>'],
   'photo_reference': 'AelY_CthrfJcNybPxNMRN68MQdmY3ddzHn67dklGqV6zTL86-yf8jzDPDSI4dTTnj504OdXNQf1CCxfinlzW4Jm9juM6bTPY1fKxfjqG4ZWiqF28QNk8ZuX6pQ_7c1M0ZPIKPg0rlS2Xe388LTCmqr1Tr4oPTp7wQ-iBElHqjSKG75a9U60',
   'width': 1600}],
 'place_id': 'ChIJVyzznc1IlUcREG0F0dbRAAQ',
 'reference': 'ChIJVyzznc1IlUcREG0F0dbRAAQ',
 'types': ['locality', 'political'],
 'url': 'https://maps.google.com/?q=Luxembourg&ftid=0x479548cd9df32c57:0x400d1d6d1056d10',
 'utc_offset': 120,
 'vicinity': 'Luxembourg',
 'website': 'http://www.vdl.lu/'}

#### Places API v2

In [ ]:
# latitude = float(LAT_LONG.iloc[6,0])
# longitude = float(LAT_LONG.iloc[6,1])

latitude, longitude = 49.646692697148595, 6.12830393740609

radius = 5000

In [ ]:
longitude,latitude

In [ ]:
# Prepare the request payload
payload = {
"includedTypes": [
                #     'clothing_store',
                #   'discount_store',
                #     'gift_shop',
                #     'grocery_store',
                    'home_improvement_store',
                    # 'market',
                    # 'sporting_goods_store',
                    # 'wholesaler'
                    ],
"locationRestriction": {
    "circle": {
        "center": {
            "latitude": latitude,
            "longitude": longitude
        },
        "radius": radius
    }
},
"maxResultCount": 20,
#"rankPreference": "DISTANCE",
}

# Prepare the headers
headers = {
"Content-Type": "application/json",
"X-Goog-Api-Key": api_key,
"X-Goog-FieldMask": (
        "places.businessStatus,places.displayName,places.formattedAddress,"
        "places.googleMapsUri,places.id,places.location,places.plusCode,"
        "places.primaryType,places.types,places.internationalPhoneNumber,"
        "places.nationalPhoneNumber,places.priceLevel,places.rating,"
        "places.userRatingCount,places.websiteUri,places.delivery,places.dineIn,"
        "places.parkingOptions,places.paymentOptions,places.outdoorSeating,"
        "places.reservable,places.restroom"
    )
}

In [ ]:
response = requests.post(f'{base_url_new}:searchNearby', json=payload, headers=headers)

In [ ]:
response.json()

In [ ]:
response.json()["places"][0]

In [55]:
place_id = 'ChIJVyzznc1IlUcREG0F0dbRAAQ'
details_url = f"{base_url_new}/{place_id}"
headers = {
"Content-Type": "application/json",
"X-Goog-Api-Key": api_key,
"X-Goog-FieldMask": "*"  # Adjust fields as needed
}
details_response = requests.get(details_url, headers=headers)

In [56]:
details_response.json()

{'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ',
 'id': 'ChIJVyzznc1IlUcREG0F0dbRAAQ',
 'types': ['locality', 'political'],
 'formattedAddress': 'Luxembourg',
 'addressComponents': [{'longText': 'Luxembourg',
   'shortText': 'Luxembourg',
   'types': ['locality', 'political'],
   'languageCode': 'en'},
  {'longText': 'Luxembourg',
   'shortText': 'Luxembourg',
   'types': ['administrative_area_level_1', 'political'],
   'languageCode': 'en'},
  {'longText': 'Luxembourg',
   'shortText': 'LU',
   'types': ['country', 'political'],
   'languageCode': 'en'}],
 'location': {'latitude': 49.61162100000001, 'longitude': 6.1319346},
 'viewport': {'low': {'latitude': 49.56028002711416,
   'longitude': 6.069020017641492},
  'high': {'latitude': 49.6549299282108, 'longitude': 6.2027200596507575}},
 'googleMapsUri': 'https://maps.google.com/?cid=288461096711712016',
 'websiteUri': 'http://www.vdl.lu/',
 'utcOffsetMinutes': 120,
 'adrFormatAddress': '<span class="locality">Luxembourg</span>',
 'iconMaskBaseUri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
 'iconBackgroundColor': '#7B9EB0',
 'displayName': {'text': 'Luxembourg', 'languageCode': 'en'},
 'shortFormattedAddress': 'Luxembourg',
 'photos': [{'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CuLZC3DR80uC7GhcxnOwuQRUA9YvnKSFATggjlwDB78_eMcjkqmL5maKfWXNiwCmYKYuePGKbS0W0w3sgzhn5BVT-XytQRr-U_IOk8mQsMZtIj2A2Gx0yxepY0DAC_ChlrwrYBnt8sZ9Qvn_I8_L98mRBTyik8okFCl',
   'widthPx': 800,
   'heightPx': 554,
   'authorAttributions': [{'displayName': 'Venula Tharusha',
     'uri': '//maps.google.com/maps/contrib/100990507489305992926',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjXDe4XUAbmzpPx6B_hhC1tm52i3tygsVbOPPEuv1k22ZiN6xK11=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CulLdsJEK6u_VlnzTJ4Nhn4H4BqRIi6_4GhzEBWMpNoEk5cyAu4EI6q0CI0xj6RynBfN0s717jK3peWI3A_zgH_G-hg5yvQzDgyD2hVfnjiqL_ow6H9R3-XuauTH-SizxqNWsU2YQDzxVWwB2atq5cESC2sq_5amZyi',
   'widthPx': 1800,
   'heightPx': 4000,
   'authorAttributions': [{'displayName': 'Heyar Norbert',
     'uri': '//maps.google.com/maps/contrib/105873306334630884040',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjU4dIrODNcJ9udpSWMxomxgxVKZHFQ6vbsSMq3PzHhVFoKOhg1BNA=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CvWH5kmrWy1NM2Fp6oVV25do0uqLcDvx6EbwK1PEfNbGKlOoSGLZCIaY__jTRTyDtCmX18xfZ8-qDorXqCmnopRdqDa7C7103xx7Z4DknepIxzDj6QnCkVa4cs92_A9GzNohl_yurghnfr-TGJiFhxQXed06IfBKdCq',
   'widthPx': 4032,
   'heightPx': 3024,
   'authorAttributions': [{'displayName': 'Joao M.',
     'uri': '//maps.google.com/maps/contrib/100798504161350418176',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjWe2S591ytt_q8e8gq45tObaDdeIKrB1oB_sRxgzulZxMKgBlRkFw=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CuFljtI7wGK2fWILHnWUYpk82CRwlN1UHENRhXg8c4zkVZECaLX_s1Tt3w82MbJVnlG9CIZg76XD5lIuGWTmWijCoC5TNOvc_CdkPBN6FOOVvCFyiA2f88aYwNdP2j523dk9KlGEJll9RekFlilqbcUjccMEQIu0D7i',
   'widthPx': 4800,
   'heightPx': 3196,
   'authorAttributions': [{'displayName': 'Thomas',
     'uri': '//maps.google.com/maps/contrib/111676293768702922357',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjW0wLsDeONRovrx0ppCiyAOIvPSUVJNsYHrtogFaTeVDW1BzjyJ3Q=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CuqVnv6J_Wcn8ckNby8exUmvHxrmYcVhVlVMnAUCqjNDyOdRTi0mZhGKs47c3twNffTIdjMeE1QalxwG1Vw29tzLAO5MeQWM2kgBHWAcpRTwklOs_I1pZd14ppE7d0MDlXnh1rn9qZP3XgvvlHlOGPblD87_oIs9NRw',
   'widthPx': 3888,
   'heightPx': 2592,
   'authorAttributions': [{'displayName': 'Museumsfreak und Hobbyfotograf',
     'uri': '//maps.google.com/maps/contrib/115394239042867857872',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjWsJBxmAqHgspEhcMsVpY39NFbP_lCvyRR-H2DTqK_MXz6ELRI=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CuyVsi3eULw1SO3mYcWPKao9Cwv2xa3I58ZhrO4qlEx2AHHT3DtCpQ9-C2ws7wLRAGkFzr6eChgLKnT-vTgmnEC2kilBaPxuE-1ELy_Sgqc5u9qGsiSDI5SXFAKnY7ie0xJTFwdiCTuzfG21_4g-3v_5yu-3R_e-4D6',
   'widthPx': 3024,
   'heightPx': 4032,
   'authorAttributions': [{'displayName': 'HUGO COSTA SANTOS',
     'uri': '//maps.google.com/maps/contrib/108538042691226984618',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjUuIjhxJeHJl_pFPGcX6-VfZ5RzRt6YkGdQnz69keL1jRPHKOkqhw=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CvKuA4WJOfkm5wypAFgZRNKbfe9pL94rWqRuQ0osvoNdLsp_Z49qKQeyR9dbQJ2DhE1hHc8haxCinHTIHz1yHMH5-6o0xwlK1l3Lzya_TOjQVbJPG0hoxKcGd81oCIidQnesEvYNejcs2LkwguNPSBUhvTjk9UtvWgj',
   'widthPx': 3264,
   'heightPx': 2448,
   'authorAttributions': [{'displayName': 'Iosif Meta',
     'uri': '//maps.google.com/maps/contrib/113765701804142492051',
     'photoUri': '//lh3.googleusercontent.com/a/ACg8ocJ5y_ekOMsq6mbyqITTM4MmNkjC9IasH2duzaWv-JYVwSV9CA=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CtXFp9ueNWyCHfCUuKj2xMa8baB8vRtY4VWcUChisZyVQiNYtrAyPknHZYUUUHxwpmOqwfxyFxH8nHpWxLw0TcPaE8w3U3lSHEcHRAGNJDfnMUdL6e2A1X8-YxhC-ZfaLmQKtvYevyW7abAtjezUmY8fNdJd2saHj86',
   'widthPx': 4032,
   'heightPx': 2268,
   'authorAttributions': [{'displayName': 'D. Nappusch',
     'uri': '//maps.google.com/maps/contrib/105250072564128572639',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjUobhXZVs8CC-u47glbZKU6uZtIbsTJSoDWK6xVwIfOaZ7DyfjdSA=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CuTBgDkn_8xXkuSYvJHzrQP3nWUNWJF3M7wkMIsbwzuxrk2NDipseZMiDv2rMgrY9n06WR-kxi14hhOH9a3QH9CQsHohGljFPa8UN4GP5QTmcTaoU10YTnMbh4vk_8qTVOdMYRJd1J1DEWxN1FriDvClTySL0nwlg0V',
   'widthPx': 2160,
   'heightPx': 2161,
   'authorAttributions': [{'displayName': 'Maria Santos',
     'uri': '//maps.google.com/maps/contrib/106895426727013603232',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjU1_OdyIPkCTvHldqcbgP8WAZF51CV3zbUf0twrWyjqGN_yBzDorQ=s100-p-k-no-mo'}]},
  {'name': 'places/ChIJVyzznc1IlUcREG0F0dbRAAQ/photos/AelY_CvwFZ76hYI7KiPEc9Hi7GTbSgJVsUqZA5RyMdLWZ9Ff-hK_hdLN6_yu4hvusLMw--FCt7Rq8qIdDESPOiuM_hWm5OBiWurN5Q8BpsKdrYgaFYx3ISTVw9u_-KgppkobeJlEupjpK6UgjQqBBsadKyJ8wyBo3Z0orHM',
   'widthPx': 1600,
   'heightPx': 1200,
   'authorAttributions': [{'displayName': 'Kamenka Sadibasic',
     'uri': '//maps.google.com/maps/contrib/112768421893838716196',
     'photoUri': '//lh3.googleusercontent.com/a-/ALV-UjWVHrkLdckfQQyJqh35MaskiMHidwLxquTS77Xc3gYnsHjppCiE=s100-p-k-no-mo'}]}]}